body {
    padding: 100px;
}

/* submit area  */
.submit-area {
    border: 2px solid aliceblue;
    padding: 30px;
    box-shadow: 2px 4px 11px #abcbe8;
    border-radius: 12px;
    margin-top: 40px;
}

.form-control {
    margin-top: 18px;
}

.btn.btn-success {
    margin-top: 18px;
}

#transaction-area {
    display: none;
}


.transaction-item {
    background: orange;
    padding: 20px;
    margin: 36px;
    border-radius: 12px;
}

.transaction-item h5 {
    font-size: 24px;
}